.wlkm_small_img {
  background: url("https://i.ibb.co/sjNvhZk/796854.jpg") fixed;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  width: 60%;
}
